<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Customer || Homepage</title>

</head>
<body>
	<div class="container-full">
		<div class="jumbotron" id="jumbo2">
			
			<h2 id="title">MSCLOUD</h2>
			<h4 id="title2"></h4>
		
		
		<div class="container-full">
	<div class="container-fluid" id="signupbox">
		<div class="row">
		<div class="col-md-3"></div>
			<div class="col-md-6">
			<div id="login-box">
			<h1>WELCOME TO YOUR DASHBOARD</h1>
					</div></div></div></div>
				</div>
				
				
		</div>
			
		</div>
</body>
</html>
