<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Location</h1>
    <p>Lattitude:  <%= title %></p>
  </body>
</html>