<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Customer || Signup success</title>

</head>
<body>
	<div class="container-full">
		<div class="jumbotron" id="jumbo2">
			<img id="logo" src="images/twitterLogo.png" />
			<h2 id="title">MSCLOUD</h2>
			<h4 id="title2">Signup Success</h4>
			<button onclick="/signup" class="btn btn-success" id="signup">Login</button>
		</div>
		</div>
</body>
</html>
